@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  1. Download variable font ttf file from Google https://fonts.google.com/ 
  2. Use glyphhanger to subset the variable file https://www.npmjs.com/package/glyphhanger
  3. Because I can't get brotli to work, I have to take the subset ttf file produced by glyphhanger
    and compress it to a woff2 with https://github.com/google/woff2, which I was only able to get to work with `brew install woff2`
*/

/* raleway-variable - subset */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local(''),
      url('/fonts/Raleway/Raleway-VariableFont_wght-subset.woff2') format('woff2 supports variations'),
      url('/fonts/Raleway/Raleway-VariableFont_wght-subset.woff2') format('woff2-variations');
}

/* raleway-italic-variable - subset */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: local(''),
      url('/fonts/Raleway/Raleway-Italic-VariableFont_wght-subset.woff2') format('woff2 supports variations'),
      url('/fonts/Raleway/Raleway-Italic-VariableFont_wght-subset.woff2') format('woff2-variations');
}

/*Stops bounce effect and limits of scroll. Doesn't work in Safari.*/
html {
  --translateX1: 0px;
  --translateX2: 50px;
  --translateX3: -50px;
  --translateX4: 0px;
}

html, body {
  overscroll-behavior: none;
}

em {
  font-style: italic;
}
