/* Shared */

@keyframes reset {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes from-before-to-on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Jake's Parade*/

@keyframes from-before-to-on-jake {
  from {
    opacity: 0;
    color: #FFFBF9;
  }
  to {
    opacity: 1;
    color: #FFFBF9;
  }
}

@keyframes from-on-to-past-jake {
  from {
    opacity: 1;
    color: #FFFBF9;
  }
  25% {
    opacity: 0.75;
    color: #FFC29F;
    transform: translate(var(--translateX1), -20vh);
    letter-spacing: 0.15em;
  }
  50% {
    opacity: 0.75;
    color: #FFC29F;
    transform: translate(var(--translateX2), -40vh);
    letter-spacing: 0.25em
  }
  75% {
    opacity: 0.75;
    color: #FFDE9F;
    transform: translate(var(--translateX3), -50vh);
    letter-spacing: 0.15em
  }
  to {
    opacity: 0;
    color: #FFFBF9;
    transform: translate(var(--translateX4), -60vh);
    letter-spacing: 0.04em; 
  }
}


/* Lapsang Souchong */

@keyframes from-on-to-past-lapsang {
  from {
    opacity: 1;
    color: #FFBA75;
  }
  to {
    opacity: 1;
    color: #F9F7F8;
  }
}
@keyframes from-past-to-on-lapsang {
  from {
    opacity: 1;
    color: #F9F7F8;
  }
  to {
    opacity: 1;
    color: #FFBA75;
  }
}

@keyframes attribution-in-lapsang {
  from {
    opacity: 0;
    color: #FFBA75;
  }
  to {
    opacity: 1;
    color: #F9F7F8;
  }
}

@keyframes attribution-out-lapsang {
  from {
    opacity: 1;
    color: #F9F7F8;
  }
  to {
    opacity: 0;
    color: #FFBA75;
  }
}