@keyframes from-before-to-on {
  from {
    opacity: 0;
    color: #FFFBF9;
  }
  to {
    opacity: 1;
    color: #FFFBF9;
  }
}

/*font-size: 1.5rem;*/
@keyframes from-on-to-past {
  from {
    opacity: 1;
    color: #FFFBF9;
  }
  25% {
    opacity: 0.75;
    color: #FFC29F;
    transform: translate(var(--translateX1), -20vh);
    letter-spacing: 0.15em
  }
  50% {
    opacity: 0.75;
    color: #FFC29F;
    transform: translate(var(--translateX2), -40vh);
    letter-spacing: 0.25em
  }
  75% {
    opacity: 0.75;
    color: #FFDE9F;
    transform: translate(var(--translateX3), -50vh);
    letter-spacing: 0.15em
  }
  to {
    opacity: 0;
    color: #FFFBF9;
    transform: translate(var(--translateX4), -60vh);
    letter-spacing: 0.04em
  }
}

@keyframes reset {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
